@tailwind base;
@tailwind components;
@tailwind utilities;


.skill-card{
    @apply flex flex-col justify-center items-center py-4 border border-slate-500 rounded-md bg-indigo-950
}


 /* contact section */

 .contact-input-field{
    @apply w-full rounded px-4 py-2 text-black border-0 outline-0
 }
.contact-input-field:focus{
    box-shadow: 0px 0px 8px 2px red;
}
/* .contact-info{
    background: url('../public/images/contact.gif');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
} */